.idea
*.pyc
*.swp
*~
mimic
pocketsphinx-python
*.egg-info/
build
dist
tornado.web
tornado.ioloop
mycroft/__version__.py
MANIFEST.in
setup.py
scripts/logs/*
logs/*
.coverage
mycroft/audio-accuracy-test/data/*
scripts/*.screen
doc/_build/
.installed
.mypy_cache

# Created by unit tests
test/unittests/skills/test_skill/settings.json
test_conf.json
