dev.env
.dev_opts.json
.idea
*.code-workspace
*.pyc
*.swp
*~
mimic
/skills
pocketsphinx-python
*.egg-info/
build
dist
tornado.web
tornado.ioloop
mycroft/__version__.py
scripts/logs/*
logs/*
.coverage
/htmlcov
test/audio_accuracy/data
scripts/*.screen
doc/_build/
.installed
.mypy_cache
.vscode
.theia
.venv/

# Created by unit tests
test/unittests/skills/test_skill/settings.json
test_conf.json
.pytest_cache/
