## The following requirements were added by pip freeze:
adapt-parser==0.2.8
astral==1.3.3
backports-abc==0.5
backports.ssl-match-hostname==3.5.0.1
beautifulsoup4==4.5.3
certifi==2016.9.26
cffi==1.9.1
configobj==5.0.6
cryptography==1.7.1
enum34==1.1.6
feedparser==5.2.1
futures==3.0.5
gTTS==1.1.8
gTTS-token==1.1.1
idna==2.2
inflect==0.2.5
inflection==0.3.1
ipaddress==1.0.18
jaraco.itertools==2.0
Mako==1.0.6
Markdown==2.4.1
MarkupSafe==0.23
more-itertools==2.5.0
multi-key-dict==2.0.3
ndg-httpsclient==0.4.2
netifaces==0.10.5
parsedatetime==2.1
pbkdf2==1.3
pdoc==0.3.2
pep8==1.7.0
pocketsphinx==0.1.0
psutil==5.0.1
pyalsaaudio==0.8.2
pyasn1==0.1.9
PyAudio==0.2.10
pycparser==2.17
pyee==3.0.1
pyjokes==0.5.0
pyOpenSSL==16.2.0
pyowm==2.6.0
PyRIC==0.1.6
pyroute2==0.4.5
pyserial==3.2.1
pystache==0.5.4
pytz==2016.10
PyYAML==3.12
requests==2.12.5
requests-futures==0.9.7
shortuuid==0.4.3
singledispatch==3.4.0.3
six==1.10.0
SpeechRecognition==3.6.0
tornado==4.4.2
tzlocal==1.3
urllib5==5.0.0
websocket-client==0.40.0
wifi==0.3.8
wikipedia==1.4.0
wolframalpha==3.0
xmlrunner==1.7.7
xmltodict==0.10.2
