shortuuid
pystache
configobj
wikipedia
requests
pyOpenSSL
ndg-httpsclient
pyasn1
gTTS
backports.ssl-match-hostname
certifi
PyAudio
pyee
SpeechRecognition
tornado
websocket-client
adapt-parser
pyowm
wolframalpha
futures
requests-futures
astral
tzlocal
parsedatetime
pdoc
pyyaml
feedparser
pyalsaaudio
xmlrunner
pyserial
netifaces
pyjokes
psutil
pep8
multi_key_dict
pocketsphinx
wifi
pyroute2
urllib5
pyric
