#!/bin/bash
#if [ "$1" = purge ]; then
#    deluser %%INSTALL_USER%% input
#    deluser %%INSTALL_USER%% audio
#    deluser %%INSTALL_USER%% dialout
#    userdel %%INSTALL_USER%%
#    if [ -e /home/%%INSTALL_USER%% ]; then
#        rm -R /home/%%INSTALL_USER%%
#    fi
#fi
