{% extends "base.html" %}


{% block header %}
    <p>Unused for now, this is hidden in CSS</p>
    <-- input type="submit" id="scan-networks" value="Scan for Wi-Fi Networks" / -->
    <-- input type="submit" id="ap-on" value="Station Mode: On" / -->
    <-- input type="submit" id="ap-off" value="Station Mode: Off" / -->
{% end %}




{% block content %}
	<div id="page1">
		<table class="page">
			<tr ><th class="roundtop">Device Wifi Setup</th></tr>
			<tr><td class="pageContent">This will take you through the process of connecting your Mycroft device to a wireless network.<P>
					Click Next to begin.
					<p/>
				</td></tr>
		</table>
	</div>
	
	<div id="page2">
		<!-- <label id="conn_text"></label><br /> -->
		<!-- <input type="text" id="input_text"/> -->
		<!-- <input type="submit" id="button" value="Send" /> -->
		<!-- input type="submit" id="scan-networks" value="Scan for Wi-Fi Networks" /-->
		<!-- input type="submit" id="ap-on" value="Station Mode: On" /-->
		<!-- input type="submit" id="ap-off" value="Station Mode: Off" /-->

		<table class="page">
			<tr ><th class="roundtop" colspan="2">Choose Your Usual Wifi</th></tr>

			{% for network in ap['network'] %}
				{% if network == "" %}
					{% continue %}
				{% end %}
				<tr><td>
					<table class="tblSSID">
						<tr><td onclick="SelectSSID('{{ network['ssid'] }}', {{ network['encrypted'] }})">{{ network['ssid'] }}</td>
							<td align="right" onclick="SelectSSID('{{ network['ssid'] }}', {{ network['encrypted'] }} )">
								<img src="img/pixel.png" onload="this.onload=null; this.src=getImagePath('{{ network['quality'] }}');" />
							</td>
						</tr>
					</table>
				</td></tr>					
				
				<!-- Also available -->
				<!--    <td>{{ network['address'] }}</td> -->
				<!--    <td>{{ network['encrypted'] }}</td> -->
				<!--    <td>{{ network['frequency'] }}</td> -->
				<!--    <td>{{ network['signal'] }}</td>  -->
				<!--    <td>{{ network['channel'] }}</td> -->
				<!--    <td>{{ network['mode'] }}</td> -->
			{% end %}
		
		</table>
	</div>	
		
	<div id="page3">
		<div id="noPass">
			<table class="page">
				<tr ><th class="roundtop">Join Network</th></tr>
				<tr><td class="pageContent">
						The '<span id='networkNoPass'></span>' network is not
						password protected, click Connect to join this network now.<p>
						
						<div class="center">or</div>
						
						<a href="" onclick="location.reload()">Choose a different network</a>
					</td></tr>
			</table>
		</div>
		<div id="getPass">
			<table class="page">
				<tr ><th class="roundtop">Join Network</th></tr>
				<tr><td class="pageContent">
						Enter the password for the '<span id='network'></span>' network,
						then click Connect to join the network.<p>

						<input type="password" id="pwd" name="input_text" onkeyup="passKeypress(event)" placeholder="password" autocomplete="off"/><p>
						
						<div class="center">or</div><p>
						
						<a href="" onclick="location.reload()">Choose a different network</a>
					</td></tr>
			</table>
		</div>
	</div>
	
	<div id="page4">
		<table class="page">
			<tr ><th class="roundtop">Connecting...</th></tr>
			<tr><td class="pageContent">
					Please wait while the device connects to the new network.<P>
					
					<div class="center">
					<img src="spinner_blue.gif" width="48px"/>
					</div>
				</td></tr>
		</table>
	</div>

	<div id="page5">
		<table class="page">
			<tr ><th class="roundtop">Success!</th></tr>
			<tr><td class="pageContent">
					Your device is now connected to the network.<P>

					Click the button below to take the final step of
					pairing your device.  If you don't already have
					an account with Mycroft you will be prompted to
					create one.
				</td></tr>
		</table>
	</div>

	<div id="page6">
		<table class="page">
			<tr ><th class="roundtop">Unable to connect</th></tr>
			<tr><td class="pageContent">
					The device was unable to connect to the '<span id='networkFailed'></span>'
					
					network.  Please verify settings and try again.
				</td></tr>
		</table>
	</div>
	
{% end %}


{% block footer %}
	<div id='debug'>
		<B>Debug output:</B>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type='button' id='ap-on' value='AP On'/>
		<input type='button' id='ap-off' value='AP Off'/><br/>
		<div id='messages_txt'>abad<P></div>
	</div>

	<div id="footer1" class="center">
		<button onclick="NextPage(1);">Next</button>
	</div>

	<div id="footer2" class="center">
	</div>

	<div id="footer3" class="center">
		<button class="" id='btnConnect' onclick="SSIDToDevice();">Connect</button>
	</div>

	<div id="footer4" class="center">
	</div>

	<div id="footer5" class="center">
		<button class='pairButton' onclick="location = 'https://cerberus.mycroft.ai/register';">Pair Device</button>
	</div>

	<div id="footer6" class="center">
		<button class='retryButton' onclick="location.reload()">Try Again</button>
	</div>
{% end %}

  
