Package: %%PACKAGE%%
Version: %%VERSION%%
Section: base
Priority: optional
Architecture: %%ARCHITECTURE%%
Depends: %%DEPENDS%%
Maintainer: Sean Fitzgerald <sean.fitzgerald@mycroft.ai>
Description: %%DESCRIPTION%%

