Package: %%PACKAGE%%
Version: %%VERSION%%
Section: base
Priority: optional
Architecture: %%ARCHITECTURE%%
Pre-Depends: %%PRE_DEPENDS%%
Maintainer: Sean Fitzgerald <sean.fitzgerald@mycroft.ai>
Description: %%DESCRIPTION%%

