#!/bin/bash
# shutdown existing services
function stop_service() {
  local NAME=$1
  invoke-rc.d ${NAME} stop
}

if [[ -f "/etc/init.d/mycroft-speech-client" ]]; then
  stop_service "mycroft-speech-client"
fi

if [[ -f "/etc/init.d/mycroft-skills" ]]; then
  stop_service "mycroft-skills"
fi

if [[ -f "/etc/init.d/mycroft-messagebus" ]]; then
  stop_service "mycroft-messagebus"
fi

if [[ -f "/etc/init.d/mycroft-enclosure-client" ]]; then
  stop_service "mycroft-enclosure-client"
fi
