Source: mycroft
Section: AI
Priority: standard
Maintainer: Aurora of Earth<auroraofearth@ya.ru>
Build-Depends: debhelper (>= 12), binutils
Homepage: https://github.com/MycroftAI/mycroft-core
Vcs-Browser: https://github.com/MycroftAI/mycroft-core
Vcs-Git: https://github.com/MycroftAI/mycroft-core.git

Package: mycroft
Architecture: all
Depends: python3, portaudio, mpg123, screen, flac, curl, jq
Essential: no
Suggests: python3.7
Description: Mycroft Voice Assistant
 A powerful open-source and hackable alternative to Microsoft Cortana, Amazon Echo, Google Assistant, Apple Siri and many more

