adapt-parser==0.3.3
fasteners==0.14.1
google-api-python-client==1.6.4
gTTS==2.0.3
gTTS-token==1.1.3
msk==0.3.13
msm==0.7.7
padaos==0.1.9
padatious==0.4.6
petact==0.1.2
pillow==4.1.1
precise-runner==0.2.1
pulsectl==17.7.4
pyalsaaudio==0.8.2
pychromecast==3.2.2
pyee==5.0.0
SpeechRecognition==3.8.1
xmlrunner==1.7.7