six==1.13.0
requests==2.20.0
gTTS==2.0.4
PyAudio==0.2.11
pyee==5.0.0
SpeechRecognition==3.8.1
tornado==6.0.3
websocket-client==0.54.0
requests-futures==0.9.5
pyserial==3.0
psutil==5.6.6
pocketsphinx==0.1.0
inflection==0.3.1
pillow==7.1.2
python-dateutil==2.6.0
fasteners==0.14.1
PyYAML==5.1.2

lingua-franca==0.2.1
msm==0.8.7
msk==0.3.15
adapt-parser==0.3.4
padatious==0.4.8
fann2==1.0.7
padaos==0.1.9
precise-runner==0.2.1
petact==0.1.2
pyxdg==0.26
